body{
  margin:0;
  padding:0;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  background-color: #F4F4F4;//colore background di tutto il body
}

.header{
  background-color: #FFF;
  height: 50px;
  padding: 30px;
}

/*TABLE*/
.container {
  margin: 5% 3%;
}
/*media queries servono per il response*/

@media (min-width: 48em) {
  .container {
    margin: 2%;
  }
}
@media (min-width: 75em) {
  .container {
    margin: 2em auto;
    max-width: 75em;
  }
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead th {
  background-color: #f5b95f;
  border: 1px solid #f5b95f;
  font-weight: normal;
  text-align: center;
  color: white;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
  background-color: #f5b95f;
  color: #FFF;
  text-align: right;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
  .responsive-table tfoot td {
    text-align: right;
    color: #FFF;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 2px solid #afd2d1;
}
.responsive-table tbody tr:hover{
  background-color: #B0ADDE;
  color : #FFF;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: #e6e9f0;
  }
  .responsive-table tbody tr:nth-of-type(even):hover {
    background-color: #B0ADDE;
    color : #FFF;
  }
}
.responsive-table tbody th[scope="row"] {
  background-color: #e6e9f0;
  color: white;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
}
.responsive-table tbody td, .responsive-table tfoot td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td, .responsive-table tfoot td {
    text-align: right;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before, .responsive-table tfoot td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
}
.responsive-table tfoot td[data-title]:before{
  color: #FFF;
}

@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before, .responsive-table tfoot td[data-title]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before, .responsive-table tfoot td[data-title]:before {
    content: none;
  }
}
.btn{
  border: 1px solid #ccE3E1;
  color: #3B3679;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.btn.littleOne{
  width: 80px;
  padding: 5px;
  margin-top: 10px;
  cursor: e-resize;
}
.responsive-table input{
  border: 1px solid #ccE3E1;
  height: 30px;
  width: 100%;
  font-size: 13px;
}

.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}

#rowStats{
  padding: 70px;
}
.cellStats0{
  width: 22vw;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 30px;
  border: 1px solid #ccE3E1;
  background: #5fe6f5 ;
  padding: 20px 0;
  margin-left: 5px;
}
.cellStats1{
  width: 22vw;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 30px;
  border: 1px solid #ccE3E1;
  background: #f5b95f ;
  padding: 20px 0;
  margin-left: 5px;
}
.cellStats2{
  width: 22vw;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 30px;
  border: 1px solid #ccE3E1;
  background: #716BB1 ;
  padding: 20px 0;
  margin-left: 5px;
}



.cellStats0 > label{
  display: block;
  font-size: 16px;
  color: #333;

}
.cellStats1 > label{
  display: block;
  font-size: 16px;
  color: #333;

}
.cellStats2 > label{
  display: block;
  font-size: 16px;
  color: #333;

}



.mobile-menu-toggle {
  background-color: #fff;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: fixed;
  right: 15px;
  top: 15px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 40px;
  z-index: 99999999;
}
